<h4 class="text-center" >CARRUSEL</h4>
<div class="row carusel-content">
   <div class="col-xs-1"></div>
   <div class="col-xs-10">
       <div class="carusel-menu pull-left"><a href="#menu/torneos"><img class="img-responsive" src="img/torneo-carusel.png" alt=""></a></div>
       
       <div class="carusel-menu pull-left"><a href="#menu/canciones"><img class="img-responsive" src="img/canciones-carusel.png" alt=""></a></div>
    <div class="carusel-menu pull-left"><a href="#menu/comunidad/actividadComunidad"><img class="img-responsive" src="img/comunidad-carusel.png" alt=""></a></div>
    
    <div class="carusel-menu pull-left"><a href="#menu/grabaciones"><img class="img-responsive" src="img/grabaciones-carusel.png" alt=""></a></div>
    <div class="carusel-menu pull-left"><a href="#menu/estrella"><img class="img-responsive" src="img/estrella-carusel.png" alt=""></a></div>
       
   </div>
   <div class="col-xs-1"></div>
    
</div>